.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.author {
  font-weight: bold;
}
a {
  text-decoration: none;
  color: rgb(217, 214, 214);
}
a:hover {
  color: rgb(47, 211, 156);
}
footer {
  margin-top: 20px;
  font-size: 18px;
}
