.results {
  text-align: left;
}
strong {
  color: rgb(35, 66, 66);
  text-transform: capitalize;
  font-size: 20px;
}
.speech {
  margin-bottom: 18px;
  margin-left: 30px;
  font-size: 30px;
  color: rgb(35, 66, 66);
  text-transform: capitalize;
  font-weight: 600;
}
hr {
  color: rgb(35, 66, 66);
}
